*{
    box-sizing: border-box;
}
.title1{
    display: inline-block;
    
}
.title2{
    padding-right: 30%;
}
.title3{
    padding-left: 15%;
}

.anchor{
    padding-right: 2%;
}
.but1{
    border: 2px solid red;
    border-radius: 8px;
}
body{
    background-image:repeating-radial-gradient(red,blue);
}